{% extends 'basic.html' %}
{% block body %}
<div class = "container">
    <p class="font-monospace">{{self}}</p>
        
    <a href="https://www.facebook.com/uchhas.007/" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), .25)">
      Facebook
    </a>
    <a href="https://github.com/Uchhas007" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), .25)">
      Github
    </a>    
    <a href="https://www.instagram.com/_utshoww_/" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), .25)">
      Instagram
    </a>  
    <a href="https://x.com/utshow__" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), .25)">
        X Twitter
    </a>  
</div>  
      
{% endblock %}