<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Removing Punctuations...</title>
</head>

<body>
<h1>FR Text was</h1>
<h2>{{ raw_text }}</h2>

<!-- <P> for paragraph -->
<p>
    <h2>Text after cooking: {{analysed_text}}</h2>
    Total Punctuations: {{ total_punc }}
    And those punctuations are {{ punctuations }}
    Total Vowels are {{vowels}} and consonants are {{consonants}}
    <br> <h2> Thank You biyachh</h2>
    <a href="/">Go back to the Homepage</a>
</p>

</body>
</html>
